---
import Layout from '../layouts/Layout.astro';
import SignUp from '../components/SignUp.astro';
---

<Layout title="Sign Up Form">
	<main class="min-h-screen flex items-center justify-center bg-background-mobile xl:bg-background-desktop pt-20 pb-[68px] xl:py-0">
		<SignUp />
	</main>
</Layout>

